:root {
  --primary: #4682b4; /*variable*/
  --bg: #f5f5f5;
  --figura: #cccc00;
  --hover: #3724a1;
  --kotak-abu: #e6e6e6;
  --font-black: #333;
  --sd: #ff1919;
  --smp: #3d82bb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Koh Santepheap", times;
  background-color: var(--bg);
  color: var(--font-black);
}

/* Header */
.header {
  background-color: #28282b;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
}

.header p {
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
  font-size: 12px; /* Ubah ukuran teks header sesuai keinginan */
  animation: moveText 35s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Topbar */
.topbar {
  color: var(--font-black);
  padding: 10px 20px;
}
.navbar {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-extra {
  margin-left: auto;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 17%;
  height: auto;
  margin-right: 50px; /* Spasi antara logo dan teks */
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
}

.logo-info {
  display: flex;
  flex-direction: column;
}

.logo h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 55px;
}

.logo p {
  font-size: 0.9rem;
  margin-left: 160px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 9.5%;
  background-color: rgb(70, 130, 180);
  color: rgb(245, 245, 245);
  border-bottom: 5px solid #3a719e;

  top: 10;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-top: 10px;
  /* margin top untuk kotak biru menambahkan jarak atas */
}

.navbar .navbar-nav a {
  color: rgb(245, 245, 245);
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 0.7rem;
  padding: 0px 43px;
  /* padding mengatur posisi tulisan navbar */
  /* margin atasbawah kirikanan */
}

.navbar .navbar-nav a:hover {
  color: var(--hover);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--hover);
}

#hamburger-menu {
  display: none;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  transition: 5s;
}

.banner img {
  width: 100%;
  position: relative;
}

.wrapper {
  width: 1340px;
  margin: auto;
  border-radius: 1px;
  overflow: hidden;
  position: relative;
}

#slide-1:target ~ .banner {
  margin-left: 0px;
}
#slide-2:target ~ .banner {
  margin-left: -100%;
}

.navigation a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
}

.navigation a:hover {
  background-color: #666;
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

.hero {
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(1, 1, 3, 0) 50%
  );
}

/* Sambutan-Kepala Sekolah */
.sambutan-kepsek h3 {
  padding: 2rem 9% 1.4rem;
  color: #111;
}

.sambutan-kepsek .rec {
  width: 6%;
  height: 6px;
  background-color: var(--primary);
  display: block;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 70px;
}
.sambutan-kepsek .sd .row .sks-img img {
  height: 336px;
  width: 326px;
  /* Selisih 10px */
}

/* SD */
.sd .row {
  display: flex;
}

.sd .row .sks-img img {
  width: 60%;
  height: auto;
  margin-left: 120px;
}

.sd .row .content {
  flex: 35rem;
  padding: 0 1rem;
}

.sd .row .content h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-left: 65px;
}

.sd .row .content p {
  margin-bottom: 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 65px;
}

.sd .row .content .isi p {
  text-align: justify;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.6;
  margin-right: 3.5rem;
}

/* SMP */
.smp .row {
  margin-top: 4rem;
  display: flex;
  flex-direction: row-reverse;
}

.smp .row .sks-img1 img {
  width: 79%;
  height: auto;
}

.smp .row .content {
  flex: 35rem;
  padding: 0 1rem;
  margin-right: 65px;
  margin-bottom: 70px;
}

.smp .row .content h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 5px;
  text-align: right; /* Mengatur agar h2 rata kanan */
}

.smp .row .content p {
  margin-bottom: 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: right;
}

.smp .row .content .isi p {
  text-align: justify;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.6;
  justify-self: right;
  margin-left: 6.5rem;
}

/* VISI MISI */
.discount {
  position: relative;
  width: 100%;
  margin: 45px 0;
  padding: 90px 0;
  background: linear-gradient(rgba(71, 89, 105, 0.7), rgba(0, 0, 0, 0.7)),
    url(pics/visi.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px; /* Atur tinggi minimum sesuai kebutuhan */
}

.discount h2,
p {
  margin-left: 50px;
}

.elemen-kotak {
  width: 70%;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2%);
  background-color: var(--primary); /* Warna latar belakang kotak */
  padding: 20px; /* Atur ukuran padding sesuai kebutuhan */
  border-radius: 7px;
  box-shadow: 7px 12px 8px rgba(0, 0, 0, 0.1); /* Opsional: tambahkan bayangan untuk tampilan lebih baik */
}

.kotak .garis-kotak {
  width: 3px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255); /* Warna latar belakang kotak */
}

.visi-misi-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Penyesuaian penempatan vertikal */
  margin-top: 30px; /* Sesuaikan dengan kebutuhan */
  padding: 0 20px; /* Sesuaikan dengan kebutuhan */
}

.visi,
.misi {
  flex: 1;
  text-align: center;
}

.visi {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8); /* Warna putih dengan 70% opasitas */
  text-align: center; /* Mengatur teks Visi menjadi rata kiri */
  margin-right: 140px;
}

.paragraf-visi {
  font-size: 1.27rem;
  text-align: center; /* Memastikan teks paragraf rata tengah */
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 50px;
}

.misi {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8); /* Warna putih dengan 70% opasitas */
  text-align: center;
}

.paragraf-misi {
  font-size: 1.27rem;
  text-align: center; /* Memastikan teks paragraf rata tengah */
  margin-top: 80px;
  margin-right: 40px;
  margin-left: 50px;
}

/* Fasilitas */
.fasilitas {
  position: relative;
}

.fasilitas h3 {
  padding: 20rem 9% 1.4rem;
  color: #111;
}

.fasilitas .rec {
  width: 6%;
  height: 6px;
  background-color: var(--primary);
  display: block;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 70px;
}

.figura-kuning {
  content: "";
  position: absolute;
  bottom: 70px; /* Jarak dari bawah */
  left: 20%;
  transform: translateX(-40%);
  width: 250px; /* Panjang */
  height: 340px; /* Lebar */
  background-color: white; /* Warna persegi panjang */
  border: 18px solid var(--figura); /* Border warna kuning */
  border-radius: 0px; /* Memutar sudut */
  z-index: -1; /* Mengatur posisi z */
  display: flex; /* Membuat figura menjadi flex container */
  justify-content: center; /* Memastikan konten berada di tengah secara horizontal */
}

.figura-img img {
  width: 250px;
  height: auto;
  margin-left: 150px;
  margin-top: 80px;
}

.isi-fasilitas {
  width: 30%;
  height: 349px;
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translate(17.1%, -2%);
  background-color: var(--kotak-abu); /* Warna latar belakang kotak */
  padding: 20px; /* Atur ukuran padding sesuai kebutuhan */
  border-radius: 7px;
  box-shadow: 7px 12px 8px rgba(0, 0, 0, 0.1); /* Opsional: tambahkan bayangan untuk tampilan lebih baik */
}

.isi-fasilitas ul {
  padding-left: 30px; /* Menghapus padding kiri default */
}

.isi-fasilitas li {
  margin-bottom: 10px; /* Atur jarak antara setiap poin */
  font-size: 1.2rem; /* Atur ukuran font */
  color: #333; /* Atur warna teks */
}

.isi-fasilitas li:before {
  content: "\2022"; /* Menggunakan bulatan sebagai tanda bullet */
  color: var(--kotak-abu); /* Warna bullet */
  display: inline-block;
  width: 1em; /* Lebar bullet */
  margin-left: -1em; /* Margin kiri bullet */
}

/* Keunggulan */
.keunggulan {
  position: relative;
}

.keunggulan h3 {
  padding: 7rem 9% 1.4rem;
  color: #111;
}

.keunggulan .rec {
  width: 6%;
  height: 6px;
  background-color: var(--primary);
  display: block;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 70px;
}

.figura-kuning {
  content: "";
  position: absolute;
  bottom: 70px; /* Jarak dari bawah */
  left: 20%;
  transform: translateX(-40%);
  width: 250px; /* Panjang */
  height: 340px; /* Lebar */
  background-color: white; /* Warna persegi panjang */
  border: 18px solid var(--figura); /* Border warna kuning */
  border-radius: 0px; /* Memutar sudut */
  z-index: -1; /* Mengatur posisi z */
  display: flex; /* Membuat figura menjadi flex container */
  justify-content: center; /* Memastikan konten berada di tengah secara horizontal */
}

.figura-img img {
  width: 250px;
  height: auto;
  margin-left: 150px;
  margin-top: 80px;
}

.isi-keunggulan {
  width: 30%;
  height: 490px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(17.1%, -2%);
  background-color: var(--kotak-abu); /* Warna latar belakang kotak */
  padding: 20px; /* Atur ukuran padding sesuai kebutuhan */
  border-radius: 7px;
  box-shadow: 7px 12px 8px rgba(0, 0, 0, 0.1); /* Opsional: tambahkan bayangan untuk tampilan lebih baik */
}

.isi-keunggulan ul {
  padding-left: 30px; /* Menghapus padding kiri default */
}

.isi-keunggulan li {
  margin-bottom: 10px; /* Atur jarak antara setiap poin */
  font-size: 1.2rem; /* Atur ukuran font */
  color: #333; /* Atur warna teks */
}

.isi-keunggulan li:before {
  content: "\2022"; /* Menggunakan bulatan sebagai tanda bullet */
  color: var(--kotak-abu); /* Warna bullet */
  display: inline-block;
  width: 1em; /* Lebar bullet */
  margin-left: -1em; /* Margin kiri bullet */
}

/* Informasi Data Sekolah */
.informasi-data-sekolah {
  position: relative;
}

.informasi-data-sekolah h3 {
  padding: 12rem 9% 1.4rem;
  color: #111;
}

.informasi-data-sekolah .rec {
  width: 6%;
  height: 6px;
  background-color: var(--primary);
  display: block;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 70px;
}

#statistik {
  background-color: #f9f9f9;
  text-align: center;
  padding: 0;
}

.statistik-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto; /* Mengatur margin auto untuk menengah elemen */ /* Menambahkan padding kiri dan kanan */
  max-width: 1111px; /* Atur lebar maksimum elemen */
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px; /* Sesuaikan lebar item */
  height: 250px; /* Sesuaikan tinggi item */
  margin: 10px; /* Tambahkan margin untuk memberi jarak antar item */
  padding: 10px; /* Tambahkan padding untuk jarak dalam item */
  background-color: var(
    --kotak-abu
  ); /* Warna latar belakang untuk masing-masing item */
  border-radius: 10px; /* Opsional: tambahkan border-radius untuk sudut melengkung */
  box-shadow: 7px 12px 8px rgba(0, 0, 0, 0.1); /* Opsional: tambahkan bayangan untuk tampilan lebih baik */
  flex-grow: 1; /* Memastikan semua item mengambil ruang yang sama */
}

.stat-item i {
  font-size: 50px;
  margin-bottom: 2rem;
}

.stat-item .number {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 20px;
  font-weight: bold;
}

.stat-item p {
  margin: 0;
}

/* Ekstrakurikuler */
.ekstrakurikuler {
  position: relative;
  margin-top: -2.5rem;
}

.ekstrakurikuler h3 {
  padding: 10rem 9% 1.4rem;
  color: #111;
}

.ekstrakurikuler .rec {
  width: 6%;
  height: 6px;
  background-color: var(--primary);
  display: block;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 40px;
}

.ekstrakurikuler .content-1 h1 {
  font-size: 15em;
  color: var(--sd);
  margin-left: 150px;
  text-shadow: 10px 12px 4px rgba(0, 0, 0, 0.2);
  /* text-shadow: <horizontal-offset> <vertical-offset> <blur-radius> <color>; */
  line-height: 1;
}

.isi-sd {
  width: 30%;
  height: 250px;
  position: absolute;
  top: 30%;
  left: 54.8%;
  transform: translate(17.1%, -2%);
  background-color: var(--kotak-abu); /* Warna latar belakang kotak */
  padding: 20px; /* Atur ukuran padding sesuai kebutuhan */
  border-radius: 7px;
  box-shadow: 7px 12px 8px rgba(0, 0, 0, 0.1); /* Opsional: tambahkan bayangan untuk tampilan lebih baik */
}

.isi-sd ul {
  padding-left: 30px; /* Menghapus padding kiri default */
}

.isi-sd li {
  margin-bottom: 10px; /* Atur jarak antara setiap poin */
  font-size: 1.2rem; /* Atur ukuran font */
  color: #333; /* Atur warna teks */
}

.isi-sd li:before {
  content: "\2022"; /* Menggunakan bulatan sebagai tanda bullet */
  color: var(--kotak-abu); /* Warna bullet */
  display: inline-block;
  width: 1em; /* Lebar bullet */
  margin-left: -1em; /* Margin kiri bullet */
}

.ekstrakurikuler .content-2 h1 {
  font-size: 15em;
  color: var(--smp);
  margin-left: 150px;
  text-shadow: 10px 12px 4px rgba(0, 0, 0, 0.2);
  /* text-shadow: <horizontal-offset> <vertical-offset> <blur-radius> <color>; */
  line-height: 1;
  margin-top: 140px;
}

.isi-smp {
  width: 30%;
  height: 250px;
  position: absolute;
  top: 75%;
  left: 54.8%;
  transform: translate(17.1%, -2%);
  background-color: var(--kotak-abu); /* Warna latar belakang kotak */
  padding: 20px; /* Atur ukuran padding sesuai kebutuhan */
  border-radius: 7px;
  box-shadow: 7px 12px 8px rgba(0, 0, 0, 0.1); /* Opsional: tambahkan bayangan untuk tampilan lebih baik */
}

.isi-smp ul {
  padding-left: 30px; /* Menghapus padding kiri default */
}

.isi-smp li {
  margin-bottom: 10px; /* Atur jarak antara setiap poin */
  font-size: 1.2rem; /* Atur ukuran font */
  color: #333; /* Atur warna teks */
}

.isi-smp li:before {
  content: "\2022"; /* Menggunakan bulatan sebagai tanda bullet */
  color: var(--kotak-abu); /* Warna bullet */
  display: inline-block;
  width: 1em; /* Lebar bullet */
  margin-left: -1em; /* Margin kiri bullet */
}

/* Footer */
.footer {
  background-color: var(--primary);
  padding: 1rem 0;
  margin-top: 10rem;
  display: flex;
  border-top: 5px solid #3a719e;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.logo-bawah h3 {
  margin-top: 1rem;
  color: var(--bg);
  margin-left: 2rem;
  font-size: 25px;
  margin-bottom: 0.4rem;
}

.logo-bawah p {
  margin-top: 0.5rem; /* Add some spacing if needed */
  margin-left: 2rem;
  padding-left: 0;
  color: var(--bg);
}

.kontak-kami {
  margin-top: 1rem;
  margin-left: 10rem;
}

.kontak-kami h3 {
  color: var(--bg);
  margin: 0;
  align-items: center;
  font-size: 25px;
  margin-bottom: 0.6rem;
}

.kontak-kami table {
  margin-top: 0.5rem; /* Add some spacing if needed */
  margin: 0;
  padding-left: 0;
  color: var(--bg);
}

.kategori-sekolah {
  margin-top: 1rem;
  margin-left: 9rem;
}

.kategori-sekolah h3 {
  color: var(--bg);
  margin-right: 2rem;
  align-items: center;
  font-size: 25px;
  margin-bottom: 2rem;
}

.kategori-sekolah table {
  margin-top: 0.5rem; /* Add some spacing if needed */
  margin: 0;
  padding-left: 0;
  color: var(--bg);
}

.footer .g-maps {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100%;
  margin-top: 2rem; /* Atur jarak antara elemen footer dan peta */
  display: flex;
  flex-wrap: wrap;
  background-color: #3a719e;
  object-fit: cover;
}

.map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.garis-footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  left: 2rem;
  width: 1285.1px;
  height: 3px;
  position: absolute;
  background-color: rgb(255, 255, 255); /* Warna latar belakang kotak */
}

.credit {
  margin-top: 43px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    border-top: 5px solid #3a719e;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 17%;
    height: auto;
    margin-right: 20px; /* Spasi antara logo dan teks */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .logo-info {
    display: flex;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-left: 20px;
  }

  .logo p {
    font-size: 0.9rem;
    margin-left: 20px;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    border-top: 5px solid #3a719e;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.8rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 20%;
    height: auto;
    margin-right: 20px; /* Spasi antara logo dan teks */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .logo-info {
    display: flex;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 20px;
  }

  .logo p {
    font-size: 0.9rem;
    margin-left: 20px;
  }

  /* Banner */
  .banner {
    display: flex;
    width: 100%;
    transition: 5s;
  }

  .banner img {
    width: 100%;
    position: relative;
  }

  .wrapper {
    width: 450px;
    margin: auto;
    border-radius: 1px;
    overflow: hidden;
    position: relative;
  }

  #slide-1:target ~ .banner {
    margin-left: 0px;
  }
  #slide-2:target ~ .banner {
    margin-left: -100%;
  }

  /* sambutan kepsek */
  .sambutan-kepsek h3 {
    padding: 2rem 9% 1.4rem;
    color: #111;
  }

  .sambutan-kepsek .rec {
    width: 10.6%;
    height: 6px;
    background-color: var(--primary);
    display: block;
    margin-left: 10px;
    margin-top: -11px;
    margin-bottom: 40px;
  }

  .sambutan-kepsek .sd .row .sks-img img {
    height: 150px;
    width: 140px;
    /* Selisih 10px */
  }

  .sd .row {
    display: flex;
    align-items: flex-start; /* Align items to the start to prevent stretching */
  }

  .sd .row .sks-img {
    flex: 0 0 auto; /* Prevent flexbox from stretching the image container */
  }

  .float-sd {
    float: left; /* Mengatur gambar float ke kiri */
    margin-right: 1rem; /* Jarak antara gambar dan teks */
  }

  .sd .row .sks-img img {
    width: auto; /* Sesuaikan dengan ukuran gambar */
    height: auto;
    margin-left: 41.5px;
    float: left; /* Membuat gambar float ke kiri */
    margin-right: 1rem; /* Menambahkan jarak antara gambar dan teks */
    margin-bottom: 1rem; /* Menambahkan ruang di bawah gambar */
  }

  .sd .row .content {
    flex: 1; /* Memungkinkan konten untuk mengambil sisa ruang */
    padding: 0 1rem;
  }

  .sd .row .content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 35px; /* Menyesuaikan margin kiri */
  }

  .sd .row .content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 35px; /* Menyesuaikan margin kiri */
    margin-top: 0.5rem; /* Menambahkan jarak atas untuk paragraf berikutnya */
  }

  .sd .row .content .isi p {
    text-align: justify;
    margin-bottom: 0.8rem; /* Menambahkan jarak bawah antara paragraf */
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6;
    margin-right: 3.5rem; /* Menyesuaikan margin kanan */
  }

  .content p:first-of-type {
    margin-top: 0;
  }
}
